.grid {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap; }

.header {
  text-align: center;
  width: 100%; }

.seperator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.map__options {
  position: absolute;
  z-index: 10;
  margin-left: 4.5rem;
  padding: 1rem;
  margin-top: -4.85rem; }

.map__options--settings {
  background-color: white;
  box-shadow: 1px 1px 5px grey;
  visibility: hidden;
  opacity: 0;
  transition: 200ms all cubic-bezier(0.46, 0.03, 0.52, 0.96);
  list-style: none;
  padding: 2rem; }

.map__options--distance input {
  margin-left: .5em; }

#map {
  flex: 1;
  display: block;
  width: 100%;
  height: 89vh;
  margin: .5em;
  margin-top: 0;
  box-shadow: 0px 0px 5px grey; }

.trail__List {
  flex: 0 1 25%;
  background-color: white;
  max-height: 89vh;
  overflow-y: auto; }

.trail__item {
  background-color: #1e5f1e;
  color: white;
  border-bottom: 1px dashed white;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-right: 1em; }

.trail__item--header {
  flex: 1;
  margin-left: 1em; }

.trail__item--figure {
  margin: .1em; }
  .trail__item--figure i.fa {
    font-size: 2em;
    min-height: 2em; }

.trail__item--body {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }

.trail__item--details {
  margin-left: 2em;
  list-style: none; }
  .trail__item--details li span {
    font-weight: bold; }

/* media queries */
@media (max-width: 800px) {
  .trail__List {
    flex: 1 1 100%;
    max-height: 10000px; }
  .map__options {
    z-index: 0; }
  .zVisible {
    z-index: 1; } }
