.grid {
  display: flex;
  box-sizing: border-box; }

.header {
  text-align: center;
  width: 100%; }

#map {
  display: block;
  width: 100%;
  height: 90vh;
  margin: .5em;
  box-shadow: 0px 0px 5px grey; }

.trail__List {
  flex: 1 1 25%;
  background-color: white; }

.trail__item {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-right: 1em;
  box-shadow: 0px 1px 1px black; }

.trail__item--header {
  flex: 1;
  margin-left: 1em; }

.trail__item--figure {
  margin: .1em; }
  .trail__item--figure i.fa {
    font-size: 2em;
    min-height: 2em; }

.trail__item--body {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }

.trail__item--details {
  margin-left: 2em;
  list-style: none; }
  .trail__item--details li span {
    font-weight: bold; }
